<template>
<div>
    <h1 class="page-title">About</h1>
<p>Hello! My name is Danika, and many of the lovely internet peeps know me as Danikuzzi. I am originally from Guayaquil, Ecuador but currently live in Marietta, GA, USA. I graduated from the Savannah College of Art and Design in 2005 and since have begin my freelance career. I’ve had the opportunity to work with wonderful people as well as collaborate. I’m very self-motivated, fast problem solver and enjoy working in a team or alone.</p>
</div>
</template>
<style>
.page-title {
  color: #444444;
  font-family: "museo";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  padding-bottom: 30px;
  padding-top: 0px;
  text-align: center;
  text-transform: none;
  width: 100%;
}
</style>